openapi: 3.1.0
info:
  title: OpenAPI definition
  version: v0
servers:
- url: https://crime-ai.0l5en.de/bff/crime-ai-api
  description: Generated server url
paths:
  /me:
    get:
      summary: get information about the current user
      operationId: getMe
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInfoDto"
        "500":
          description: if any internal error occurs while processing the request
  /register:
    post:
      summary: create a new registration of a user of type vacation rental
      operationId: createRegistration
      requestBody:
        description: the data required to create a new registration
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRegistrationDto"
        required: true
      responses:
        "201":
          description: successful operation
        "409":
          description: if the username or email already exist
        "500":
          description: if any internal error occurs while processing the request
  /crimecase:
    get:
      summary: get the latest crime cases
      operationId: listCrimeCasesAll
      parameters:
      - name: maxResults
        in: query
        description: "The maximum number of elements that should be returned. If this\
          \ parameter is not specified, the default value of 10 will be used."
        schema:
          type: string
      - name: caseGeneratorFormType
        in: query
        description: The type of crime case used during the generation process.
        schema:
          type: string
      - name: userId
        in: query
        description: The id of a logged in user playing a crime case.
        schema:
          type: string
      - name: status
        in: query
        description: "The status of a crime case. Multiple status values are combined\
          \ using an OR operator. For example, status=a&status=b selects all elements\
          \ that have either status A or status B."
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultSetCrimeCase"
        "500":
          description: if any internal error occurs while processing the request
  /crimecase-basic:
    get:
      summary: get a list of basic crime cases
      operationId: listCrimeCasesBasic
      parameters:
      - name: maxResults
        in: query
        description: "The maximum number of elements that should be returned. If this\
          \ parameter is not specified, the default value of 10 will be used."
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultSetCrimeCase"
        "500":
          description: if any internal error occurs while processing the request
    post:
      summary: start a task to create a new basic crime case
      operationId: createCrimeCaseBasic
      requestBody:
        description: the data required to create a new basic crime case
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCaseGeneratorFormBasicDto"
        required: true
      responses:
        "202":
          description: If the task was started successfully. The response will contain
            a Location Header to get the status of the task.
        "400":
          description: If the request contains faulty input data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Violations"
        "500":
          description: if any internal error occurs while processing the request
  /crimecase-vacation-rental:
    get:
      summary: get a list of vacation rental crime cases
      operationId: listCrimeCasesVacationRental
      parameters:
      - name: maxResults
        in: query
        description: "The maximum number of elements that should be returned. If this\
          \ parameter is not specified, the default value of 10 will be used."
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultSetCrimeCase"
        "500":
          description: if any internal error occurs while processing the request
    post:
      summary: start a task to create a new vacation rental crime case
      operationId: createCrimeCaseVacationRental
      requestBody:
        description: the data required to create a new vacation rental crime case
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCaseGeneratorFormVacationRentalDto"
        required: true
      responses:
        "202":
          description: If the task was started successfully. The response will contain
            a Location Header to get the status of the task.
        "400":
          description: If the request contains faulty input data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Violations"
        "500":
          description: if any internal error occurs while processing the request
  /crimecase/{id}:
    get:
      summary: get crime case details by id
      operationId: getCrimeCase
      parameters:
      - name: id
        in: path
        description: crime case id
        required: true
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrimeCaseDto"
        "404":
          description: crime case not found
        "500":
          description: if any internal error occurs while processing the request
    delete:
      summary: delete a crime case by id
      operationId: deleteCrimeCase
      parameters:
      - name: id
        in: path
        description: crime case id
        required: true
        schema:
          type: string
      responses:
        "204":
          description: successful operation
        "404":
          description: crime case not found
        "500":
          description: if any internal error occurs while processing the request
    patch:
      summary: update crime case
      operationId: updateCrimeCase
      parameters:
      - name: id
        in: path
        description: crime case id
        required: true
        schema:
          type: string
      requestBody:
        description: the data required to update crime case
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CrimeCaseDto"
        required: true
      responses:
        "204":
          description: successful operation
        "404":
          description: crime case not found
        "500":
          description: if any internal error occurs while processing the request
  /crimecase/{id}/crimescene:
    get:
      summary: get the crime scene of a crime case
      operationId: getCrimeScene
      parameters:
      - name: id
        in: path
        description: crime case id
        required: true
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrimeSceneDto"
        "404":
          description: crime case not found
        "500":
          description: if any internal error occurs while processing the request
  /crimecase/{id}/evidence:
    get:
      summary: get the evidences of a crime case
      operationId: listEvidences
      parameters:
      - name: id
        in: path
        description: crime case id
        required: true
        schema:
          type: string
      - name: solutionEvidence
        in: query
        description: "If the value '0' is specified, only evidences not relevant to\
          \ solve the case are returned (red herrings); if a value other than '0'\
          \ is specified, only evidences relevant to solve the case are returned."
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultSetEvidence"
        "404":
          description: crime case not found
        "500":
          description: if any internal error occurs while processing the request
  /crimecase/{id}/motive:
    get:
      summary: get the motives of a crime case
      operationId: listMotives
      parameters:
      - name: id
        in: path
        description: crime case id
        required: true
        schema:
          type: string
      - name: personId
        in: query
        description: person id
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultSetMotive"
        "404":
          description: crime case not found
        "500":
          description: if any internal error occurs while processing the request
  /crimecase/{id}/person:
    get:
      summary: get the persons of a crime case
      operationId: listPersons
      parameters:
      - name: id
        in: path
        description: crime case id - the operation returns all persons of the given
          crime case
        required: true
        schema:
          type: string
      - name: personRole
        in: query
        description: one or more person roles - the operation returns all persons
          containing at least one of the given roles
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultSetPerson"
        "404":
          description: crime case not found
        "400":
          description: if the request contains invalid parameters
        "500":
          description: if any internal error occurs while processing the request
  /crimecase/{id}/solution-attempt:
    get:
      summary: Get a list of solution attempts.
      operationId: listSolutionAttempts
      parameters:
      - name: id
        in: path
        description: crime case id
        required: true
        schema:
          type: string
      - name: userId
        in: query
        description: the id of a logged in user playing a crime case
        schema:
          type: string
      - name: success
        in: query
        description: "If the value '0' is specified, only unsuccessful solution attempts\
          \ are selected; if a value other than '0' is specified, only successful\
          \ solution attempts are selected."
        schema:
          type: string
      responses:
        "200":
          description: "Successful operation responds with a list of solution attempts.\
            \ If no query parameters are specified, an empty list is returned. A maximum\
            \ of 10 items are returned. The items are sorted by creation date in descending\
            \ order."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultSetSolutionAttempt"
        "500":
          description: if any internal error occurs while processing the request
    post:
      summary: create a new attempt at a solution
      operationId: createSolutionAttempt
      parameters:
      - name: id
        in: path
        description: crime case id
        required: true
        schema:
          type: string
      requestBody:
        description: the data required to create a new attempt at a solution
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSolutionAttemptDto"
        required: true
      responses:
        "201":
          description: successful operation responds with the generated id of the
            entity
        "500":
          description: if any internal error occurs while processing the request
  /crimecase/{id}/subscription:
    get:
      summary: get the subscription of a crime case
      operationId: getSubscription
      parameters:
      - name: id
        in: path
        description: crime case id
        required: true
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionDto"
        "404":
          description: the crime case has no subscription
        "500":
          description: if any internal error occurs while processing the request
  /crimecase-vacation-rental/{id}:
    post:
      summary: get payment link for vacation rental form data
      operationId: createPaymentLinkVacationRental
      parameters:
      - name: id
        in: query
        description: the id of the data submitted in the vacation rental form
        schema:
          type: string
      responses:
        "202":
          description: If the payment link created successfully. The response will
            contain a Location Header that belongs to the checkout page for the vacation
            rental crime case.
        "400":
          description: If the request contains faulty input data.
        "500":
          description: if any internal error occurs while processing the request
  /interrogation:
    get:
      summary: Get a list of interrogations.
      operationId: listInterrogations
      parameters:
      - name: userId
        in: query
        description: the id of a logged in user playing a crime case
        schema:
          type: string
      - name: personId
        in: query
        description: the id of a person from a criminal case with whom the interrogation
          was conducted
        schema:
          type: string
      - name: referenceId
        in: query
        description: The id of a reference the interrogation is based on. The special
          value 'null' can be used to select interrogations not having a reference.
        schema:
          type: string
      responses:
        "200":
          description: "Successful operation responds with a list of interrogations.\
            \ If whether personId nor userId are specified, an empty list is returned.\
            \ A maximum of 10 items are returned."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultSetInterrogation"
        "500":
          description: if any internal error occurs while processing the request
    post:
      summary: create a new interrogation answer for a given question
      operationId: createInterrogationAnswer
      requestBody:
        description: the data required to create a new interrogation answer
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInterrogationAnswerDto"
        required: true
      responses:
        "201":
          description: successful operation responds with the generated id of the
            answer
        "500":
          description: if any internal error occurs while processing the request
  /interrogation/{id}/question-and-answer:
    get:
      summary: get questions and answers about an interrogation
      operationId: getQuestionAndAnswers
      parameters:
      - name: id
        in: path
        description: interrogation id
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation responds with a list of questions and
            answers. The entries are sorted by creation date in descending order.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultSetQuestionAndAnswer"
        "500":
          description: if any internal error occurs while processing the request
  /prompt-template:
    post:
      summary: Create a new prompt template.
      operationId: createPromptTemplate
      requestBody:
        description: the data required to create a new prompt template
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePromptTemplateDto"
        required: true
      responses:
        "201":
          description: successful operation without response body
        "500":
          description: if any internal error occurs while processing the request
  /prompt-template-history:
    get:
      summary: Get the history of a prompt template.
      operationId: listPromptTemplateVersions
      parameters:
      - name: name
        in: query
        description: the name of a template
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultSetPromptTemplateVersion"
        "400":
          description: if no name parameter is available
        "500":
          description: if any internal error occurs while processing the request
  /prompt-template-identifier:
    get:
      summary: Get a list of prompt template identifiers.
      operationId: listPromptTemplateIdentifiers
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultSetPromptTemplateIdentifier"
        "500":
          description: if any internal error occurs while processing the request
  /prompt-template/{id}:
    get:
      summary: Get a prompt template by id.
      operationId: getPromptTemplate
      parameters:
      - name: id
        in: path
        description: the id of a prompt template
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromptTemplateDto"
        "404":
          description: if the prompt template could not be found
        "500":
          description: if any internal error occurs while processing the request
  /prompt-template/{id}/template-context:
    get:
      summary: Get the template context of a prompt template.
      operationId: getTemplateContext
      parameters:
      - name: id
        in: path
        description: the id of a prompt template
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateContextDto"
        "404":
          description: if the prompt template could not be found
        "500":
          description: if any internal error occurs while processing the request
  /evidence-report:
    get:
      summary: Get a list of evidence reports.
      operationId: listEvidenceReports
      parameters:
      - name: personId
        in: query
        description: The ID of the person who should create the report
        schema:
          type: string
      - name: evidenceId
        in: query
        description: The ID of the evidence from which the report is to be created
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultSetEvidenceReport"
        "400":
          description: if there are missing or invalid parameters
        "500":
          description: if any internal error occurs while processing the request
    post:
      summary: "Create a new report for an evidence. If a report already exist for\
        \ the given identifier (userId, personId, evidenceId), this operation will\
        \ do nothing."
      operationId: createEvidenceReport
      requestBody:
        description: the data required to create a new report
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEvidenceReportDto"
        required: true
      responses:
        "201":
          description: successful operation without response body
        "400":
          description: if an invalid request body was send
        "500":
          description: if any internal error occurs while processing the request
  /autopsy-report:
    get:
      summary: Get a list of autopsy reports.
      operationId: listAutopsyReports
      parameters:
      - name: reportAuthorId
        in: query
        description: The ID of the report author
        schema:
          type: string
      - name: victimId
        in: query
        description: The ID of the victim
        schema:
          type: string
      - name: notificationId
        in: query
        description: The ID of the notification
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultSetAutopsyReport"
        "400":
          description: if there are missing or invalid parameters
        "500":
          description: if any internal error occurs while processing the request
  /autopsy-report-request:
    get:
      summary: list autopsy report requests that belong to the currently logged-in
        user.
      operationId: listAutopsyReportRequests
      parameters:
      - name: victimId
        in: query
        description: Filter the results by the specified ID of a victim.
        schema:
          type: string
      responses:
        "200":
          description: successful operation returns a list of autopsy report requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultSetAutopsyReportRequest"
        "500":
          description: if any internal error occurs while processing the request
    post:
      summary: "Create a new request for autopsy report of a victim. If a request\
        \ already exist for the given authenticated user and given victimId, this\
        \ operation will do nothing."
      operationId: createAutopsyReportRequest
      requestBody:
        description: the data required to create a new request
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAutopsyReportRequestDto"
        required: true
      responses:
        "201":
          description: successful operation without response body
        "400":
          description: if an invalid request body was send
        "500":
          description: if any internal error occurs while processing the request
  /task/{id}:
    get:
      summary: Get a task info object by id.
      operationId: getTaskInfo
      parameters:
      - name: id
        in: path
        description: the id of a task
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskInfoDto"
        "404":
          description: if the task could not be found
        "500":
          description: if any internal error occurs while processing the request
  /notification:
    get:
      summary: Get a list of notifications of the authenticated user.
      operationId: listNotifications
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultSetNotification"
        "500":
          description: if any internal error occurs while processing the request
    patch:
      summary: Update a notification.
      operationId: updateNotification
      requestBody:
        description: the data required to update a notification
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotificationDto"
        required: true
      responses:
        "204":
          description: Successful operation.
        "500":
          description: if any internal error occurs while processing the request
  /crimecase-generation-attempt-all:
    get:
      summary: Get a list of all CrimeCaseGenerationAttempts.
      operationId: listAllCaseGenerationAttempts
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultSetCrimeCaseGenerationAttemptDto"
        "500":
          description: if any internal error occurs while processing the request
  /crimecase-generation-attempt-my:
    get:
      summary: Get a list of my CrimeCaseGenerationAttempts.
      operationId: listMyCaseGenerationAttempts
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultSetCrimeCaseGenerationAttemptDto"
        "500":
          description: if any internal error occurs while processing the request
  /user-profile:
    post:
      summary: Get a list of user profiles.
      operationId: listUserProfiles
      requestBody:
        description: the search filter
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserProfileFilterDto"
        required: true
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultSetUserProfileDto"
        "400":
          description: if the search filter contains invalid or incomplete data
        "500":
          description: if any internal error occurs while processing the request
  /user-profile-count:
    post:
      summary: Count user profiles.
      operationId: countUserProfiles
      requestBody:
        description: the search filter
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserProfileFilterDto"
        required: true
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultCount"
        "400":
          description: if the search filter contains invalid or incomplete data
        "500":
          description: if any internal error occurs while processing the request
  /user-profile-my:
    get:
      summary: Get user profile of the authenticated user.
      operationId: getMyUserProfile
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileDto"
        "500":
          description: if any internal error occurs while processing the request
  /user-profile-my-password:
    put:
      summary: Send email to authenticated user to reset the password.
      operationId: sendUpdatePasswordMail
      parameters:
      - name: redirectUri
        in: query
        description: A URI to which the user is redirected after successfully changing
          their password.
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Successful operation.
        "502":
          description: if the underlying service endpoint returned an error
        "500":
          description: if any internal error occurs while processing the request
components:
  schemas:
    UserInfoDto:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        email:
          type: string
        roles:
          type: array
          items:
            type: string
        exp:
          type: integer
          format: int64
    CreateRegistrationDto:
      type: object
      properties:
        userType:
          type: string
          enum:
          - VACATION_RENTAL
          - STANDARD
          - ADMIN
        userName:
          type: string
          minLength: 1
        email:
          type: string
          minLength: 1
        password:
          type: string
          minLength: 1
      required:
      - email
      - password
      - userName
      - userType
    CrimeCaseDto:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        summary:
          type: string
        language:
          type: string
        textToImage:
          type: string
        imageUrl:
          type: string
        status:
          type: string
          enum:
          - UNPUBLISHED
          - PUBLISHED
          - PREMIUM
        type:
          type: string
          enum:
          - BASIC
          - VACATION_RENTAL
      required:
      - description
      - id
      - language
      - status
      - summary
      - textToImage
      - title
    ResultSetCrimeCase:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/CrimeCaseDto"
    CrimeSceneDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        description:
          type: string
        textToImage:
          type: string
        imageUrl:
          type: string
      required:
      - description
      - id
      - textToImage
      - title
    EvidenceDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        description:
          type: string
        location:
          type: string
        analysisResult:
          type: string
        evidenceType:
          type: string
          enum:
          - DIGITAL
          - FORENSIC
          - BALLISTIC
          - DOCUMENT
          - TRACE
          - OTHER
        textToImage:
          type: string
        documentContent:
          type: string
        imageUrl:
          type: string
      required:
      - analysisResult
      - description
      - evidenceType
      - id
      - location
      - textToImage
      - title
    ResultSetEvidence:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/EvidenceDto"
    MotiveDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        description:
          type: string
      required:
      - description
      - id
      - title
    ResultSetMotive:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/MotiveDto"
    AlibiDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        content:
          type: string
      required:
      - content
      - id
    PersonDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        roles:
          type: array
          items:
            type: string
            enum:
            - VICTIM
            - WITNESS
            - SUSPECT
            - DIGITAL_EXPERT
            - FORENSIC_EXPERT
            - BALLISTIC_EXPERT
            - DOCUMENT_EXPERT
            - TRACE_EXPERT
            - FORENSIC_PATHOLOGIST
            - CRIMINAL_ASSISTANT
            - PERPETRATOR
        age:
          type: integer
          format: int32
        profession:
          type: string
        gender:
          type: string
        personality:
          type: string
        maritalStatus:
          type: string
        financialSituation:
          type: string
        previousConvictions:
          type: array
          items:
            type: string
        relationshipToCase:
          type: string
        alibi:
          $ref: "#/components/schemas/AlibiDto"
        lifeStatus:
          type: string
          enum:
          - DEAD
          - ALIVE
        textToImage:
          type: string
        imageUrl:
          type: string
      required:
      - age
      - financialSituation
      - gender
      - id
      - lifeStatus
      - maritalStatus
      - name
      - personality
      - previousConvictions
      - profession
      - relationshipToCase
      - roles
      - textToImage
    ResultSetPerson:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PersonDto"
    ResultSetSolutionAttempt:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/SolutionAttemptDto"
    SolutionAttemptDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        userId:
          type: string
          minLength: 1
        success:
          type: boolean
        createdAt:
          type: string
      required:
      - createdAt
      - id
      - userId
    CreateSolutionAttemptDto:
      type: object
      properties:
        solution:
          $ref: "#/components/schemas/SolutionDto"
        userId:
          type: string
          minLength: 1
      required:
      - solution
      - userId
    SolutionDto:
      type: object
      properties:
        evidenceIds:
          type: array
          items:
            type: integer
            format: int64
        motiveIds:
          type: array
          items:
            type: integer
            format: int64
        personIds:
          type: array
          items:
            type: integer
            format: int64
      required:
      - evidenceIds
      - motiveIds
      - personIds
    SubscriptionDto:
      type: object
      properties:
        testPeriodEnd:
          type: string
        subscriptionPeriodEnd:
          type: string
        canceled:
          type: boolean
    CreateCaseGeneratorFormBasicDto:
      type: object
      properties:
        language:
          type: string
          minLength: 1
        epoch:
          type: string
          enum:
          - TWENTIES
          - PRESENT
          - FUTURE
        theme:
          type: string
          enum:
          - MURDER
          - ROBBERY
          - KIDNAPPING
        additionalThemeDetails:
          type: string
        fullAddress:
          type: string
          minLength: 1
        venueName:
          type: string
          minLength: 1
        venueDescription:
          type: string
          minLength: 1
        nearbySightseeingAttractions:
          type: array
          items:
            $ref: "#/components/schemas/CreateSightseeingAttractionDto"
        approximateYearOfConstruction:
          type: integer
          format: int32
        historicalFeaturesAndLegends:
          type: string
        historicalCulturalContext:
          type: string
      required:
      - epoch
      - fullAddress
      - language
      - nearbySightseeingAttractions
      - theme
      - venueDescription
      - venueName
    CreateSightseeingAttractionDto:
      type: object
      properties:
        attractionName:
          type: string
          minLength: 1
        distanceToVenue:
          type: integer
          format: int32
      required:
      - attractionName
      - distanceToVenue
    Violation:
      type: object
      properties:
        message:
          type: string
        propertyPath:
          type: string
    Violations:
      type: object
      properties:
        violations:
          type: array
          items:
            $ref: "#/components/schemas/Violation"
    CreateCaseGeneratorFormVacationRentalDto:
      type: object
      properties:
        formBasic:
          $ref: "#/components/schemas/CreateCaseGeneratorFormBasicDto"
        venueFloors:
          type: integer
          format: int32
        venueBedrooms:
          type: integer
          format: int32
        venueBathrooms:
          type: integer
          format: int32
        maxGuests:
          type: integer
          format: int32
        roomLayoutDescription:
          type: string
      required:
      - formBasic
      - maxGuests
      - venueBathrooms
      - venueBedrooms
      - venueFloors
    InterrogationDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        userId:
          type: string
        personId:
          type: integer
          format: int64
      required:
      - id
      - personId
      - userId
    ResultSetInterrogation:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/InterrogationDto"
    CreateInterrogationAnswerDto:
      type: object
      properties:
        question:
          type: string
        userId:
          type: string
        personId:
          type: integer
          format: int64
        reference:
          $ref: "#/components/schemas/CreateReferenceDto"
      required:
      - personId
      - question
      - userId
    CreateReferenceDto:
      type: object
      properties:
        referenceId:
          type: integer
          format: int64
        referenceType:
          type: string
          enum:
          - EVIDENCE_REPORT
      required:
      - referenceId
      - referenceType
    QuestionAndAnswerDto:
      type: object
      properties:
        question:
          type: string
        answer:
          type: string
        createdAt:
          type: string
      required:
      - answer
      - createdAt
      - question
    ResultSetQuestionAndAnswer:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/QuestionAndAnswerDto"
    CreatePromptTemplateDto:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        template:
          type: string
          minLength: 1
      required:
      - name
      - template
    PromptTemplateVersionDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        createdAt:
          type: string
      required:
      - createdAt
      - id
    ResultSetPromptTemplateVersion:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PromptTemplateVersionDto"
    PromptTemplateIdentifierDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          minLength: 1
      required:
      - id
      - name
    ResultSetPromptTemplateIdentifier:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PromptTemplateIdentifierDto"
    PromptTemplateDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          minLength: 1
        template:
          type: string
          minLength: 1
        createdAt:
          type: string
      required:
      - createdAt
      - id
      - name
      - template
    TemplateContextDto:
      type: object
      properties:
        variables:
          type: array
          items:
            $ref: "#/components/schemas/TemplateVariableDto"
          uniqueItems: true
      required:
      - variables
    TemplateVariableDto:
      type: object
      properties:
        key:
          type: string
          minLength: 1
        value:
          type: string
          minLength: 1
      required:
      - key
      - value
    EvidenceReportDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        personId:
          type: integer
          format: int64
        analysis:
          type: string
        methods:
          type: string
        conclusion:
          type: string
      required:
      - analysis
      - conclusion
      - id
      - methods
      - personId
    ResultSetEvidenceReport:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/EvidenceReportDto"
    CreateEvidenceReportDto:
      type: object
      properties:
        evidenceId:
          type: integer
          format: int64
        personId:
          type: integer
          format: int64
      required:
      - evidenceId
      - personId
    AutopsyReportDto:
      type: object
      properties:
        title:
          type: string
        id:
          type: integer
          format: int64
        reportAuthorId:
          type: integer
          format: int64
        victimId:
          type: integer
          format: int64
        caseId:
          type: string
        externalExamination:
          type: string
        internalExamination:
          type: string
        causeOfDeath:
          type: string
        conclusionsAndAssessment:
          type: string
        timeOfDeathFrom:
          type: string
        timeOfDeathTo:
          type: string
        imageUrl:
          type: string
      required:
      - caseId
      - causeOfDeath
      - conclusionsAndAssessment
      - externalExamination
      - id
      - internalExamination
      - reportAuthorId
      - timeOfDeathFrom
      - timeOfDeathTo
      - title
      - victimId
    ResultSetAutopsyReport:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/AutopsyReportDto"
    AutopsyReportRequestDto:
      type: object
      properties:
        victimId:
          type: integer
          format: int64
        userId:
          type: string
          minLength: 1
        createdAt:
          type: string
          minLength: 1
      required:
      - createdAt
      - userId
      - victimId
    ResultSetAutopsyReportRequest:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/AutopsyReportRequestDto"
    CreateAutopsyReportRequestDto:
      type: object
      properties:
        victimId:
          type: integer
          format: int64
      required:
      - victimId
    TaskInfoDto:
      type: object
      properties:
        id:
          type: string
          minLength: 1
        taskStatus:
          type: string
          enum:
          - PENDING
          - COMPLETED
        createdAt:
          type: string
        completedAt:
          type: string
      required:
      - createdAt
      - id
      - taskStatus
    NotificationDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        notificationContextType:
          type: string
          enum:
          - AUTOPSY_REPORT
        recipientId:
          type: string
        nameOfSender:
          type: string
        subject:
          type: string
        read:
          type: boolean
        createdAt:
          type: string
      required:
      - createdAt
      - id
      - nameOfSender
      - notificationContextType
      - recipientId
      - subject
    ResultSetNotification:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/NotificationDto"
    CrimeCaseGenerationAttemptDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        status:
          type: string
          enum:
          - CREATED
          - SUBSCRIBED
          - GENERATED
        created:
          type: string
      required:
      - created
      - id
      - status
    ResultSetCrimeCaseGenerationAttemptDto:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/CrimeCaseGenerationAttemptDto"
    UserProfileFilterDto:
      type: object
      properties:
        groupName:
          type: string
        search:
          type: string
        enabled:
          type: boolean
        firstResult:
          type: integer
          format: int32
        maxResults:
          type: integer
          format: int32
    ResultSetUserProfileDto:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/UserProfileDto"
    UserProfileDto:
      type: object
      properties:
        id:
          type: string
          minLength: 1
        userName:
          type: string
          minLength: 1
        email:
          type: string
          minLength: 1
        groups:
          type: array
          items:
            type: string
        enabled:
          type: boolean
        createdAt:
          type: string
          minLength: 1
      required:
      - createdAt
      - email
      - enabled
      - groups
      - id
      - userName
    ResultCount:
      type: object
      properties:
        count:
          type: integer
          format: int64
